table.food-table {
    border-collapse: collapse;
    border: 2px solid black;
}

table.food-table th.header-row {
    text-align: center;
    background: none repeat scroll 0 0 #c8c8c8;
    border: 1px solid #BBBBBB;
    padding: 8px;
}

table.food-table th, table.food-table td {
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #BBBBBB;
}

table.food-table a.sort_asc {
    text-decoration: none;
    color: black;
    background-image: url(../images/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 10px 20px;
}

table.food-table a.sort_desc {
    text-decoration: none;
    color: black;
    background-image: url(../images/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 10px 20px;
}

table.food-table a.sort_both {
    text-decoration: none;
    color: black;
    background-image: url(../images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 10px 20px;
}


table.food-table tr.odd-row {
    background: none repeat scroll 0 0 #FFFFFF;
}

table.food-table tr.even-row {
    background: none repeat scroll 0 0 #F5F5F5;
}

table.food-table td.checkbox-column {
    width: 20px;
}

table.food-table td.name-column,
table.food-table input.input-name {
    width: 260px;
    text-align: left
}

table.food-table td.cost-column,
table.food-table input.input-cost {
    width: 105px;
    text-align: right;
}

table.food-table td.category-column,
table.food-table select.select-category {
    width: 120px;
}

table.food-table td.action-column {
    width: auto;
}

table.food-table span.error-message {
    font-size: 10px;
    color: red;
}


